<div class="page-content">
    <div class="product-page">
        <div class="product-desc">
            <div class="product-desc-image">
                <img src={{%IMAGE%}} width="280" height="320">
            </div>
            <div class="prod">
                <h1 class="prod">{{%NAME%}}</h1>
                <h2 style="color: green;">Price: ${{%PRICE%}}</h2>
                <p>Color: {{%COLOR%}}</p>
                <p><b>Model Number: </b>{{%MODELNO%}}</p>
                <p><b>Model Name: </b>{{%MODELNAME%}}</p>
                <p>Camera: {{%CAMERA%}}</p>

                <br />
                <a class="btn-buy" href="/products?id={{%ID%}}">Details</a>
                <a class="btn-back" href="/products">Back</a>
            </div>
        </div>
    </div>
</div>